.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-list {
  background-color: darkseagreen;
  padding: 50px 100px;
}

.item {
  background-color: white;
  height: 100px;
  width: 400px;
  border-radius: 8px;
  padding: 0 8px;
}
